@import url("components/common.css");
@import url("components/header.css");
@import url("components/footer.css");

/* =========== MAIN =========== */
#main {
  margin-top: 120px;
}

/* =========== CONTACT US FORM =========== */
section#contact-us .contact-us-form .title {
  font-weight: 700;
  font-size: 55px;
  line-height: 56px;
}

section#contact-us .contact-us-form form textarea[name="message"] {
  height: 104px;
}

/* =========== SOCIAL MEDIA =========== */
#social-media {
  margin-top: 80px;
}

#social-media h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
}

#social-media .social-media-list {
  padding: 80px 0;
}

#social-media .social-media-list .social-media-link {
  margin-left: 40px;
  text-decoration: none;
}

#social-media .social-media-list .social-media-link .card {
  padding: 40px 56px;
  width: 260px;
}

#social-media .social-media-list .social-media-link .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-media .social-media-list .social-media-link .card-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 8px;
}

#social-media .social-media-list .social-media-link .social-media-icon {
  width: 60px;
  height: 60px;
}
