.btn {
  --bs-btn-border-radius: 0;
  outline: none;
}

.btn-sm {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.04em;
}

.btn-lg {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.1em;
}
