@import url("components/common.css");
@import url("components/header.css");
@import url("components/footer.css");

/* =========== MAIN =========== */
#main {
  margin-top: 120px;
}

/* =========== ABOUT =========== */
#about .title {
  font-size: 55px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 40px;
}

#about p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}
