@import url("components/common.css");
@import url("components/header.css");
@import url("components/footer.css");

/* =========== MAIN =========== */
main#main {
  margin-top: 120px;
}

/* =========== FEATURED POST =========== */
#featured-post .topic {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

#featured-post h1.title {
  margin-top: 38px;
  font-size: 55px;
  font-weight: 700;
  line-height: 56px;
}

#featured-post p.desc {
  margin-top: 32px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}

#featured-post .btn-read {
  margin-top: 32px;
}

/* =========== ALL POST =========== */
#article-list {
  margin-top: 72px;
}

#article-list h2 {
  margin-bottom: 56px;
  font-size: 55px;
  font-weight: 700;
  line-height: 56px;
}

#article-list .article {
  height: 500px;
}

#article-list .article-thumbnail-wrapper {
  overflow: hidden;
  height: 40% !important;
}

#article-list .article-thumbnail-wrapper .article-thumbnail {
  object-fit: cover;
  object-position: center;
  height: 100% !important;
}

#article-list .article-category {
  font-size: 14px;
}

#article-list .article-title {
  height: 20%;
}

#article-list .article-title span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#article-list .article-description {
  height: 45%;
}

#article-list .article-description span {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
