* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ffbc44;
  --secondary-color: #74eb53;
  --padding-x: 80px;
  --padding-y: 40px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #e3f2de;
  padding: var(--padding-y) var(--padding-x);
}

#wrapper {
  background-color: white;
  height: calc(100vh - (var(--padding-y) * 2));
  display: flex;
}

/* ========= PRODUCT INFO SECTION ========= */
section.product-info {
  width: 35%;
  border-right: 1px solid #ddd;
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 60%;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  overflow-y: scroll;
}

/* ====== CUSTOM SCROLLBAR ======  */
.product-detail::-webkit-scrollbar {
  width: 4px;
}

.product-detail::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.product-detail::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.product-detail::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.product-detail .product-title {
  font-weight: 400;
}

.product-detail .product-description {
  margin-top: 16px;
  font-weight: 400;
}

.product-detail .product-description .show-more {
  display: block;
  color: #999;
}

.product-detail .product-description .show-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-detail .product-price {
  font-size: 24px;
  margin-top: 12px;
}

.product-style {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.product-style h3 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  color: #999;
}

.product-style .product-color .options {
  display: flex;
  justify-content: center;
}

.product-style .product-color .form-group + .form-group {
  margin-left: 8px;
}

.product-style .product-color .show-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.btn-add-to-bag {
  display: block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 12px 0;
  width: 250px;
  margin: 0 auto;
  font-weight: 600;
  transition: 0.3s;
}

.btn-add-to-bag:hover {
  opacity: 0.8;
}

.btn-full-detail {
  display: block;
  border: 1px solid var(--secondary-color);
  padding: 12px 0;
  width: 250px;
  margin: 0 auto;
  margin-top: 12px;
  color: var(--secondary-color);
  font-weight: 600;
  transition: 0.3s;
}

.btn-full-detail:hover {
  background-color: #74eb53;
  color: #fff;
}

/* ====== PRODUCT PREVIEW SECTION ====== */
section.product-preview {
  width: 65%;
  padding: 16px;
}

section.product-preview .btn-action {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

section.product-preview .btn-action box-icon {
  cursor: pointer;
}

section.product-preview .preview-img {
  position: relative;
  display: flex;
  justify-content: center;
  height: 60%;
}

section.product-preview .preview-img img {
  height: 100%;
}

section.product-preview .list-img {
  margin-top: 42px;
  height: 80px;
  display: flex;
  justify-content: center;
}

section.product-preview .list-img .active {
  border: 2px solid var(--primary-color);
}

section.product-preview .list-img img {
  cursor: pointer;
  height: 100%;
  padding: 2px;
}

section.product-preview .list-img img + img {
  margin-left: 12px;
}

/* ======= TOAST MESSAGE ======= */
.toast-container {
  position: fixed;
  top: 0;
  right: 0;
}

.toast {
  position: relative;
  display: flex;
  min-width: 350px;
  max-width: 400px;
  background-color: #fff;
  margin: 8px;
  padding: 8px;
  box-shadow: -1px 1px 4px #ccc;
  border-radius: 4px;
}

.toast .toast-icon {
  margin-right: 8px;
}

.toast .toast-content .toast-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.toast .toast-content .toast-desc {
  font-size: 14px;
}

.toast .toast-close {
  cursor: pointer;
  margin-left: auto;
}

.toast.toast-success .toast-title {
  color: #44c021;
}

.toast.toast-warning .toast-title {
  color: #d4de21;
}

/* ======= ANIMATION ======= */
@keyframes slideInRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
